.galleryDisplay{
    width: 100%;
    padding-top: 100px;
    background-color: black;
    background-blend-mode: darken;
    color: white;
}

.dataContainer{
    color: white;
    height: 100%;
    text-align: center;
    text-align: -webkit-center;
}

.dataContainer .pictures{
    height: 600px;
    margin-top: 20px;
}

.dataContainer .pictures .containers{
    height: 400px;
    background-color: rgba(128, 128, 128, 0.26);
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.dataContainer .pictures .containers::-webkit-scrollbar {
    width:7px;
}
.dataContainer .pictures .containers::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}
.dataContainer .pictures .containers::-webkit-scrollbar-thumb {
    border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px rgb(231, 96, 5); 
}
.dataContainer .pictures .containers .img1Container{
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    width: 200px;
    transition: 0.5s ease-in;
}
.dataContainer .pictures .containers .img1Container:hover{
    padding: 20px;
    background-color: orange;
    border-radius: 5px;
}

.contents p{
    padding: 10px;
}

.devImage{
    width: 100px;
    height: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.devName{
    margin-top:10px;
    font-weight:bold;
    font-size:Large;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-bottom: 10px;
  }

.editIcon, .deleteIcon{
    font-size:2em;
    margin-right: 20px;
}
.editIcon:hover,.deleteIcon:hover{
    color: var(--primary-color);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popupContent,.popupContent2 {
    background-color: #000000;
    padding: 20px;
    width: 700px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .popupContent h2 {
    margin-bottom: 10px;
  }
  
  .popupContent label {
    display: block;
    margin-bottom: 5px;
  }
  
  .popupContent input,
  .popupContent select,
  .popupContent textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popupContent .modalButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .popupContent button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popupContent button:hover {
    background-color: #0056b3;
  }
  
.popupContent2{
    text-align: -webkit-center;
}

.deleteH2{
    border-bottom: none;
    width: 100%;
}

.modalButtons2{
    display: flex;
    justify-content: center;
}

.modalButtons2 button{
    margin-right: 20px;
}

@media screen and (max-width:1000px){
    .dataContainer .pictures .containers{
        flex-wrap:wrap;
        width:auto;
        height: 100%;
    }
    .galleryDisplay{
        height: auto;
    }
    .contents{
        padding-bottom: 15px;
    }
    .iconsContainer{
        width: auto;
    }
    .popupContent{
        width: 100%;
        overflow-y: auto;
        max-height: calc(100vh - 100px);
    }
    .popup{
        overflow: hidden;
    }
}