.profile{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*background: rgba(0,0,0,0.65) url('../../assets/cyber-bg.png') no-repeat center center/cover;*/
    background-color: black;

    background-blend-mode: darken;
}
.profileContainer{
    width: 100%;
}

.profileContainer .contents{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.profileContainer .contents .profileIcon{
    color: white;
}

.profileContainer .contents .profileIcon .icon{
    height: 400px;
    width: 400px;
}

.profileContainer .contents .profileData{
    color: white;
    background-color: rgb(35, 34, 34);
    height: 400px;
    width: 600px;
    border-radius: 5px;
    padding: 20px;
    font-size: 400px;
}

.profileContainer .contents .profileData .icon{
    height: 400px;
    width: 400px;
}

.profileContainer .contents .profileData .welcome{
    font-size: 3.2rem;
    text-align: center;
}

.profileContainer .contents .profileData .welcome span{
    font-weight: bold;
}

.profileContainer .contents .profileData .stats{
    padding-top: 20px;
    font-size: 1.2rem;
}

.profileContainer .contents .profileData .stats p{
    padding-bottom: 20px;
}

@media screen and (max-width:1000px){
    .profile{
        height: 800px;
    }
    .profileContainer .contents {
        height:500px;
        flex-wrap:wrap;
        width:auto;
    }
    .profileContainer .contents .profileIcon{
        margin-bottom: 20px;
        padding-top: 100px;
    }
    .profileContainer .contents .profileIcon .icon{
        width: 200px;
        height: 200px;
    }
}